@supports (font-variation-settings: normal) {
  html { font-family: 'Inter', sans-serif; }
}
nav { padding: 0 .25rem 1.5rem; text-align: right; font-size: 1rem; display: flex;justify-content: end; align-items: center; }
nav a:first-child { margin-left: 0; text-decoration: none }
nav h1 { margin: 0 }
nav a { margin-left: 1.5rem; }
article, nav {
  padding-left: 1rem;
  padding-right: 1rem;
}
img { max-width: 100%; margin: 1rem 0; }
body {
  font-weight: 300;
  font-size: 1.325rem;
  line-height: 1.5;
  background: #281733;
  /*background: linear-gradient(135deg, #281733, #3b224c);*/
  color: #ebeafa;
  color: #a4a0e8;
  color: hsl(243.8, 61.5%, 82.9%);
  padding-top: 3rem;
}
.overlay {
  right: 0px;
  pointer-events: none;
  max-width: 100vw !important;
  height: 200vh;
  mix-blend-mode: color;
  /*background: rgba(0, 0, 0, 0) radial-gradient(50% 50%, rgba(79, 216, 222, 0.2) 0%, rgba(255, 255, 255, 0) 100%) repeat scroll 0% 0%;*/
  background: rgba(0, 0, 0, 0) radial-gradient(50% 50%, #3b224c 0.2, #281733 100%) repeat scroll 0% 0%;
  background: rgba(0, 0, 0, 0) radial-gradient(50% 50%, rgba(111, 68, 240, 0.15) 0%, rgba(255, 255, 255, 0) 100%) repeat scroll 0% 0%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 9999;
  transform: translateY(-115vh);
}
a {
  color: #6F44F0;
  color: #ebeafa;
}
p { line-height: 1.6 }
h1, h2 {
  font-weight: 700;
  color: #fff;
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.75rem;
  font-weight: 400;
}
h3 {
  color: #ebeafa;
}

body {
  max-width: 960px;
  margin: auto;
}

ul { margin: 0; padding: 0; list-style-position: inside; list-style-type: none }

.action { text-align: center; margin: 2.5rem auto; display: block }
.action a {
  padding: .5rem 1rem;
  border-radius: .25rem;
  margin: 1rem auto;
  background: #ebeafa;
  color: #281733;
  font-weight: 500;
}

hr {
  height: .125rem;
  border: none;
  background: rgba(255, 255, 255, 0.1);
  margin: 1.5rem 0;
}

.asciinema-player {
  border: 3px solid;
  border-radius: 3px;
  z-index: 9999;
}

h1.title { margin-bottom: 0 }
time {
  font-size: .875rem;
}

code {
  padding: 0.25rem 0.5rem;
  background-color: #2b303b;
  color: #c0c5ce;
  border-radius: 3px;
  font-size: 1.2rem;
}

article > p > code {
  color: #ebeafa;
}

pre > code {
  padding: unset;
  background-color: unset;
  border-radius: unset;
}

pre {
  padding: 0.5rem;
  border: 3px solid #a4a0e8;
  border-radius: 3px;
}

strong {
  font-weight: 600;
}
