@supports (font-variation-settings: normal) {
  html { 
    font-family: -apple-system, blinkmacsystemfont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  }
}

body {
  font-weight: 300;
  font-size: 1.325rem;
  line-height: 1.5;
  background: #281733;
  background: linear-gradient(135deg, #281733, #3b224c);
  color: #ebeafa;
  color: #a4a0e8;
  color: hsl(243.8, 61.5%, 82.9%);
  max-width: 960px;
  margin: auto;
}

a {
  color: #ebeafa;
}

p { line-height: 1.6 }

h1, h2 {
  font-weight: 700;
  color: #fff;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.75rem;
  font-weight: 400;
}

h3 {
  color: #ebeafa;
}

ul { margin: 0; padding: 0; list-style-position: inside; list-style-type: none }

.btn {
  padding: .5rem 1rem;
  border-radius: .25rem;
  margin: 1rem auto;
  background: #D678B5;
  color: #281733;
  font-weight: bold;
}

nav { 
  padding: 1.5rem .25rem;
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

nav img {
  width: 54px;
  height: 54px;
  display: inline-block;
  float: left;
}

nav .logo a {
  text-decoration: none;
}

nav .menu a {
  margin-left: 1.5rem;
  font-size: 1.2rem;
  font-weight: 400;
}

nav h1 { 
  margin: 0;
  font-size: 3em;
}

nav h1:before {
  display: inline-block;
  width: 1em;
  height: 1em;
  content: "";
  background-image: url(/logo.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%;
  position: relative;
  top: 0.2em;
  left: 0.1em;
  margin-right: .25em;
}

nav .btn {
  background-color: #7fdc59;  
  margin: 0;
}

article, nav {
  padding-left: 1rem;
  padding-right: 1rem;
}

img { max-width: 100%; margin: 1rem 0; }

.action {
  display: flex;
  align-items: center;
}

hr {
  height: .125rem;
  border: none;
  background: rgba(255, 255, 255, 0.1);
  margin: 1.5rem 0;
}

.asciinema-player {
  border: 3px solid;
  border-radius: 3px;
  z-index: 9999;
}

h1.title { margin-bottom: 0 }
time {
  font-size: .875rem;
}

code {
  padding: 0.25rem 0.5rem;
  background-color: #2b303b;
  color: #c0c5ce;
  border-radius: 3px;
  font-size: 1.2rem;
}

article > p > code {
  color: #ebeafa;
}

pre > code {
  padding: unset;
  background-color: unset;
  border-radius: unset;
}

pre {
  padding: 0.5rem;
  border: 3px solid #a4a0e8;
  border-radius: 3px;
}

strong {
  font-weight: 600;
}

.selling-points {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.selling-point {
  /* Max 2, min 1 selling point per row */
  max-width: 20em;
  font-size: 1.20rem;
  padding: 2rem;
  padding-top: 1rem;
}

.selling-point h2 {
  font-weight: bold;
}
