{% extends "base.html" %}

{% block content %}

 <h1 class="title">{{ page.title }}</h1>
 <time>{{ page.date | date(format='%-d %B %Y')}}</time>

{{ page.content | safe }}

<script src="/asciinema-player.min.js"></script>
<script>
for (const player of document.getElementsByTagName("asciinema-player")) {
  AsciinemaPlayer.create(player.attributes["src"].value, player, {
    cols: parseInt(player.attributes["cols"].value),
    rows: parseInt(player.attributes["rows"].value),
  });
}
</script>

{% endblock content %}